.home {
  margin-top: 5rem;

  .container {
    flex-direction: column;
    gap: 4em;
    min-height: 80vh;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
  }

  p {
    font-size: 2.5em;
    text-align: center;
    line-height: 2;
    max-width: 80%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  }
  a {
    font-size: 2.5em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
  }

  a:hover {
    background: rgba(33, 219, 194, 0.6);
    text-shadow: 0 0 25px #ffffff;
    box-shadow: 0 0 10px #ffffff;
    transition: all 0.3s ease-in-out;
  }
}
