@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 10px;
}
body {
  background-color: #00b89993;
  color: #ffffff;
  font-family: serif;
  font-family: "Amaranth", sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a,
button {
  cursor: pointer;
}
h1,
h2 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;

}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
