@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

.main-header {
  font-family: "Dancing Script", cursive;
  width: 100%;
  padding: 15px 5%;
  background: linear-gradient(#008b74, #004d40);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-size: 2rem;

  h1 {
    color: #fff;
    font-size: 2em;
    text-shadow: -1px 0px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;

    span {
      color: #79fff8;
    }
  }
  nav {
    font-size: 1.25em;
    gap: 2em;
  }

  a {
    color: #fff;
    font-weight: 7000;
    transition: all 0.3s ease-in-out;
  }
  a.active {
    color: #79fff8;
    text-shadow: 0 0px 15px #ffffff;
  }
  h1:hover,
  a:hover {
    text-shadow: 0 0px 25px #ffffff;
    transition: all 0.3s ease-in-out;
  }
}
